<header class="admin-topbar">
    <div class="admin-topbar-left">
        <button class="admin-sidebar-toggle" id="admin-sidebar-btn" aria-label="Toggle admin sidebar">
            <span class="material-symbols-outlined">menu</span>
        </button>
    </div>
    <div class="admin-topbar-right">
        <a class="nav-link font-bold text-secondary" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </div>
</header>
